body {
    background-color: rgb(0, 0, 0);
}

main {
    background-color: white;
    width: 350px;
    margin: auto;
    font-family: sans-serif;
    position: relative;
}

header {
    display: inline-block;
    margin-left: 30px;
}

.header-h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.header-p {
    margin-top: 5px;
    color: rgb(96, 96, 96);
    font-size: 13px;
}

button {
    height: 30px;
    width: 30px;
    background-color: deeppink;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    position: absolute;
    top: 40px;
    right: 15px;
}

.container {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: auto auto auto;
    width: 300px;
    padding-left: 70px;
    margin-bottom: 20px;
}

.grid-head h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.grid-head p {
    margin-top: 0;
    font-size: 12px;
}

.grid-body {
    padding-left: 10px;
    box-shadow: 0px 2px 10px rgba(68, 68, 68, 0.121);
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}

.grid-body h1 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.grid-body p {
    font-size: 12px;
    margin-top: 0;
}

.dot {
    width: 5px;
    height: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
}

.dot1 {
    background-color: dodgerblue;
}

.dot2 {
    background-color: springgreen;
}

.dot3 {
    background-color: mediumvioletred;
}

.dot4 {
    background-color: crimson;
}

.time-part .time {
    display: inline-block;
    width: 42px;
    margin-left: 25px;
    margin-right: 0;
    font-size: 12px;
    margin-top: 20px;
}

.time-part {
    position: relative;
}

.time-part .line {
    height: 1px;
    width: 270px;
    background-color: rgb(211, 211, 211);
    display: inline-block;
    vertical-align: middle;
}

.tasks1 {
    position: absolute;
    top: 27.5px;
    left: 70px;
    width: 270px;
    height: 45px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.221);
}

.tasks1 h1 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 10px;
}

.tasks1 p {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.tasks-dot1 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

/*------------------*/
.tasks2 {
    position: absolute;
    top: 164px;
    left: 70px;
    width: 270px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.221);
}

.tasks2 h1 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 10px;
}

.tasks2 p {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.tasks-dot2 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: crimson;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

/*------------------*/
.tasks3 {
    position: absolute;
    top: 301px;
    left: 70px;
    width: 270px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.221);
}

.tasks3 h1 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 10px;
}

.tasks3 p {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.tasks-dot3 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: mediumvioletred;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

/*------------------*/
.tasks4 {
    position: absolute;
    top: 346.5px;
    left: 70px;
    width: 270px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.221);
}

.tasks4 h1 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 10px;
}

.tasks4 p {
    font-size: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

.tasks-dot4 {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: springgreen;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}